@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://fmoralesdev.com/">We are improving our skills, visit us in FmoralesDev ;)</a>.</p>
</div>
